.navItems{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 9999px;
}

.navItems img{
    width: 30px;
}

.navItems:hover{
    cursor: pointer;
}

.s1{
    background-image: url('/image.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vid{
    width: 720px;
    height: 450px;
}

.s2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    min-height: 70vh;
}

.s3{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.card{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 10;
    /*transform: rotateY(200px);*/
    transition: opacity 0.6s ease, trasform 0.6s ease;
    background-color: #df0808;
    border-radius: 10%;
}

.card.visible{
    opacity: 1;
    /*transform: rotateY(0);*/
}

.s4{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: -8vh;
}

.formulario{
    width: 300px;
    height: auto;
    padding: 20px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid #7e0515 ;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #090909;
    margin-bottom: 20px;
}

.formulario label{
    width: 100%;
    padding: 20px;
    margin-bottom: -35px;
    font-size: 22px;
}

.formulario input{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--almond-cream);
    background-color: transparent;
    color: var(--almond-cream);
    border-radius: 999px;
    font-size: 22px;
    box-shadow: 0px 3px 10px #090909;
}

.formulario textarea{
    max-width: 100%;
    width: 255px;
    min-width: 255px;
    padding: 10px;
    border: 2px solid var(--almond-cream);
    background-color: transparent;
    color: var(--almond-cream);
    box-shadow: 0px 3px 10px #090909;
}

.button{
    width: 100%;
    padding: 10px;
    background-color: var(--almond-cream);
    color: #090909;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-size: 600;
    transition: all 200ms ease-in-out;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0px 3px 10px #090909;
    background-color: transparent;
    color: var(--almond-cream);
    border: 2px solid var(--almond-cream);
}



@media (width <= 1000px) {
    .navWords{
        display: none;
    }
    #s1{
        background-image: url('/image.mb.jpg');
        padding-top: 50px;
    }
    h1{
        line-height: 120px;
    }
    h2{
        margin-top: -20px;
        font-size: 67px;
    }
}